@using BookStoreModel.ViewModels.BookEditionFirstTime
@model CreateEditBookEditionFirstTimeViewModel

<tr>
    <td>
        @Html.DropDownList("BookEditionId", null, "‌",
                            htmlAttributes: new { @class = "form-control flexselect js-book-edition" })
    </td>
    <td>
        @Html.EditorFor(model => model.Qtt,
                            new { htmlAttributes = new {@class= "form-control js-qtt", Placeholder="ژماره‌‌" } })
    </td>
    <td>
        @Html.EditorFor(model => model.Price,
                            new { htmlAttributes = new { @class = "form-control js-price", Placeholder ="ژماره‌‌" } })
    </td>
    <td>
        @Html.DropDownList("StoreId", null, "‌",
                            htmlAttributes: new { @class = "form-control flexselect js-store" })
    </td>
    <td>
        <input type="text" class="form-control js-row-total" disabled />
    </td>
    <td>
        <span class="btn-link js-remove" title="سڕینه‌وه‌">
            <i class="fal fa-trash-alt"></i>
        </span>

        @if (Model.IsExists)
        {
        <span title="دووباره‌یه‌" style="color:red;">
            <i class="fal fa-exclamation-circle"></i>
        </span>
        }
    </td>
</tr>