@model BookStoreModel.FilterModels.ItemInvoiceFilter

<style>
    .btn-submit {
        margin-right: 5px;
    }
</style>

<div>
    <form method="get">
        <div class="form-inline filter-form">
            <div class="col-5" style="text-align:center">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">مامه‌ڵه‌كار</span>
                    </div>
                    @Html.DropDownList("CustomerId", null, "‌",
                        htmlAttributes: new { @class = "form-control flexselect" })
                </div>

                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">#</span>
                    </div>
                    @Html.EditorFor(model => model.InvoiceId,
                        new { htmlAttributes = new { @class = "form-control", Placeholder="ژماره‌ی پسووڵه‌" } })
                </div>
            </div>

            <div class="col-5" style="text-align:center">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">له‌</span>
                    </div>
                    @Html.EditorFor(model => model.StartDate,
                        new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">تا</span>
                    </div>
                    @Html.EditorFor(model => model.EndDate,
                        new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="col-2" style="text-align:center">
                <div class="input-group mb-1">
                    
                </div>

                <div class="input-group mb-1">
                    <button type="submit" class="btn btn-dark btn-submit">
                        <i class="fal fa-search"></i>
                        گه‌ڕان
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>