@using BookStoreModel.ViewModels.ItemInvoices
@model ICollection<CreateEditItemViewModel>

<table id="table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width:30%">كاڵا</th>
            <th style="width:15%">ژماره‌</th>
            <th style="width:15%">نرخ</th>
            <th style="width:20%">مه‌خزه‌ن</th>
            <th style="width:15%">كۆ</th>
            <th style="width:5%"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            @Html.Action("GetRow", "SharedItemInvoices", item)
        }

        @Html.Action("GetRow", "SharedItemInvoices", new CreateEditItemViewModel())
    </tbody>

    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><span id="invoice-total">0</span></th>
            <th></th>
        </tr>
    </tfoot>
</table>
